spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        # Route pour l'authentification
        - id: auth-service
          uri: http://${USERS_SERVICE_HOST:localhost}:${USERS_SERVICE_PORT:8081}
          predicates:
            - Path=/api/auth/**
          filters:
            - RewritePath=/api/auth(?<segment>/.*), /auth${segment}
        
        # Route pour le service Users
        - id: users-service
          uri: http://${USERS_SERVICE_HOST:localhost}:${USERS_SERVICE_PORT:8081}
          predicates:
            - Path=/api/users/**
          filters:
            - RewritePath=/api/users(?<segment>/?.*), /users${segment}
        
        # Route pour le service Tasks
        - id: tasks-service
          uri: http://${TASKS_SERVICE_HOST:localhost}:${TASKS_SERVICE_PORT:8082}
          predicates:
            - Path=/api/tasks/**
          filters:
            - RewritePath=/api/tasks(?<segment>/?.*), /tasks${segment}

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: true
    filter: true
    display-request-duration: true
    default-model-expand-depth: 2
    persist-authorization: true  # Persiste le token entre les rechargements de page
    with-credentials: true  # Permet l'envoi des credentials

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: INFO
